<h1>All lists (<%= @lists.count %>)</h1>

<% @lists.each do |list| %>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title"><%= list.title %></h2>
		</div>
		<div class="panel-body">
		    <%= list.description %>
		</div>
	</div>
<% end %>