<div class="panel panel-default">

	<div class="panel-heading">
		<h2 class="panel-title">Step</h2>
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">Title</span>
			<input class="form-control" type="text" name="version[item][][title]" aria-describedby="basic-addon1" placeholder="Title for that step">
		</div>	
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">Description</span>
			<input class="form-control" type="text" name="version[item][][description]" aria-describedby="basic-addon1" placeholder="What is this step's objective?">
		</div>	
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">app_name/</span>
			<input class="form-control" type="text" name="version[item][][path]" aria-describedby="basic-addon1" placeholder="Type in the path of this code's file in the project's directory">
		</div>							
	</div>

	<div class="panel-body">
<!-- 		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">Code</span>
			<input class="form-control" type="text" name="version[item][][code]" aria-describedby="basic-addon1" placeholder="Type the necessary code">
		</div>	 -->
			<div class="form-group">
				<label>Code:</label>
				<textarea class="form-control" name="version[item][][code]"></textarea>
			</div>		
	</div>

</div>