<div class="page-header">
	<div class="container">
		<h1>All items</h1>
		<p>This is a list of all <%= @items.count %> single items contained in lists</p>
	</div>
</div>

<div class="box">
	<div class="container">

		<% @items.each do |item| %>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">
						<%= item.title %>
						<span class="pull-right">/ <%= item.version.list.title %></span>
					</h2>
				</div>
				<div class="panel-body">
				    <%= item.description %>
				</div>
			</div>
		<% end %>
	</div>
</div>		